<div class="col-lg-9">
  <div class="card mt-4">
    <img
      class="card-img-top img-fluid"
      src="http://placehold.it/900x400"
      alt=""
    />
    <div class="card-body">
      <h3 class="card-title">Product Name</h3>
      <h4>$24.99</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta
        fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint
        aperiam sequi pariatur praesentium animi perspiciatis molestias iure,
        ducimus!
      </p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">Product Reviews</div>
    <div class="card-body">
      <div *ngFor="let data of itemPosts | slice: 1:10">
        <p>{{ data.body }}</p>
        <small class="text-muted">{{ data.title }}</small>
        <hr />
      </div>

      <a href="#" class="btn btn-success">Leave a Review</a>
    </div>
  </div>
  <!-- /.card -->
</div>
