<div class="col-lg-9">
  <div class="card mt-4">
    <img
      class="card-img-top img-fluid"
      src="http://placehold.it/900x400"
      alt=""
    />
    <div class="card-body">
      <h3 class="card-title">Product Name</h3>
      <h4>$24.99</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta
        fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint
        aperiam sequi pariatur praesentium animi perspiciatis molestias iure,
        ducimus!
      </p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">Product Reviews</div>
    <div class="card-body">
      <div *ngFor="let data of itemPosts | slice: 1:10">
        <p>{{ data.body }}</p>
        <small class="text-muted">{{ data.title }}</small>
        <hr />
      </div>
      {{commentForm.controls.email.value}}
      <form [formGroup]="commentForm" (ngSubmit)="postData($event)">

        
        <input
          class="form-control"
          type="email"
          name="email"
          formControlName="email"
          placeholder="Email"
        />
        <span *ngIf="form?.email.errors?.required && form?.email.dirty"
          >Required</span
        >
        <span *ngIf="form?.email.errors?.email && form?.email.dirty"
          >Invalid email</span
        >
        <input
          class="form-control"
          type="comment"
          name="comment"
          formControlName="comment"
          placeholder="Comment"
        />

        Material Form Field
        <div class="example-container">
          <mat-form-field appearance="legacy" >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder " formControlName="email">
            
            <mat-hint>Hint</mat-hint>
            <mat-error *ngIf="commentForm.invalid">Required</mat-error>
          </mat-form-field>
        </div>

        <button
          type="submit"
          class="btn btn-success"
          [disabled]="commentForm.invalid"
        >
          Leave a Review
        </button>
      </form>


    </div>
  </div>
  <!-- /.card -->
</div>
<!-- <section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section> -->
